<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <div class="item-img-content">
      <%= image_tag(@item.image, class:"item-box-img") %>
    </div>
    <div class="detail-wrapper">
      <h2 class="item-name">
        <%= @item.name %>
      </h2>
      <table class="detail-table">
        <tbody>
          <tr>
            <th class="detail-item">内容</th>
            <td class="detail-value"><%= @item.explanation %></td>
          </tr>
          <tr>
            <th class="detail-item">金額</th>
            <td class="detail-value">¥<%= @item.price %></td>
          </tr>
          <tr>
            <th class="detail-item">出品者</th>
            <td class="detail-value"><%= @item.user.nickname %>さん</td>
          </tr>
          <tr>
            <th class="detail-item">カテゴリー</th>
            <td class="detail-value"><%= @item.category.name %></td>
          </tr>
          <tr>
            <th class="detail-item">配送料の負担</th>
            <td class="detail-value"><%= @item.delivery_cost.name %></td>
          </tr>
          <tr>
            <th class="detail-item">発送元の地域</th>
            <td class="detail-value"><%= @item.prefecture.name %></td>
          </tr>
          <tr>
            <th class="detail-item">発送日の目安</th>
            <td class="detail-value"><%= @item.days_delivery.name %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
    <div class="btn-wrapper">
      <% if user_signed_in? %>
        <% if current_user.id == @item.user_id %>
          <%= link_to "商品の編集", edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
          <%= link_to "削除", item_path(@item.id), method: :delete, class:"item-destroy" %>
        <% else %>
          <%= link_to "購入画面に進む", item_purchases_path(@item.id), method: :get,class:"item-red-btn"%>
        <% end %>
      <% end %>

      <div class="menu-post-btn">
        <%= link_to 'メニュー投稿', new_item_menu_path(@item.id), class: "menu-post-btn" %>
      </div>
    </div>

    <div class="menus">
      <h4>＜メニュー一覧＞</h4>
      <div class="menu-list">
        <% @menus.each do |menu| %>
          <p>
            <%= image_tag(rails_blob_path(menu.image)) %>
            <strong><%= link_to menu.user.nickname, "/users/#{menu.user_id}" %></strong>
          </p>
        <% end %>
      </div>
    </div>
  <%# /商品の概要 %>
</div>

 

<%= render "shared/footer" %>
